<% /* 基础css*/ %>

<ul class="nav nav-list accordion-group">
    <li class="nav-header">
        <i class="glyphicon glyphicon-plus"></i>
        基本CSS
        <div class="pull-right popover-info">
            <i class="glyphicon glyphicon-question-sign "></i>

            <div class="popover fade right">
                <div class="arrow"></div>
                <h3 class="popover-title">帮助</h3>

                <div class="popover-content">
                    将组件元素拖放入你需要放入的栅格列中。之后，你可以设置该元素的样式。如果你需要了解更多内容，请访问
                    <a target="_blank" href="http://v3.bootcss.com/css/">基本CSS.</a>
                </div>
            </div>
        </div>
    </li>
    <li class="boxes" id="elmBase">
        <div class="box box-element ui-draggable">
            <a href="#close" class="remove label label-danger">
                <i class="glyphicon glyphicon-remove"></i>
                删除
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
								拖动
							</span>
							<span class="configuration">
								<span class="btn-group btn-group-xs">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                        对齐
                                        <span class="caret"></span>
                                    </a>
									<ul class="dropdown-menu">
                                        <li class="active">
                                            <a href="#" rel="">默认</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-left">靠左</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-center">居中</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-right">靠右</a>
                                        </li>
                                    </ul>
								</span>
								<span class="btn-group btn-group-xs">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                        标记
                                        <span class="caret"></span>
                                    </a>
									<ul class="dropdown-menu">
                                        <li class="active">
                                            <a href="#" rel="">默认</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-muted">禁用</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-warning">警告</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-error">错误</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-info">提示</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-success">成功</a>
                                        </li>
                                    </ul>
								</span>
							</span>

            <div class="preview">标题栏</div>
            <div class="view">
                <h3 contenteditable="true">h3. 这是一套可视化布局系统.</h3>
            </div>
        </div>
        <div class="box box-element ui-draggable">
            <a href="#close" class="remove label label-danger">
                <i class="glyphicon glyphicon-remove"></i>
                删除
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
								拖动
							</span>
							<span class="configuration">
								<span class="btn-group btn-group-xs">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                        对齐
                                        <span class="caret"></span>
                                    </a>
									<ul class="dropdown-menu">
                                        <li class="active">
                                            <a href="#" rel="">默认</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-left">靠左</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-center">居中</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-right">靠右</a>
                                        </li>
                                    </ul>
								</span>
								<span class="btn-group btn-group-xs">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                        标记
                                        <span class="caret"></span>
                                    </a>
									<ul class="dropdown-menu">
                                        <li class="active">
                                            <a href="#" rel="">默认</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="muted">禁用</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-warning">警告</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-error">错误</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-info">提示</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="text-success">成功</a>
                                        </li>
                                    </ul>
								</span>

								<a class="btn btn-xs btn-default" href="#" rel="lead">Lead</a>
							</span>

            <div class="preview">段落</div>
            <div class="view">
                <p><em>Git</em>
                    是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong>
                    编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在
                    <small>Ruby</small>
                    社区中。
                </p>
            </div>
        </div>
        <div class="box box-element ui-draggable">
            <a href="#close" class="remove label label-danger">
                <i class="glyphicon glyphicon-remove"></i>
                删除
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
								拖动
							</span>

            <div class="preview">地址</div>
            <div class="view">
                <address contenteditable="true"><strong>Twitter, Inc.</strong>
                    <br>
                    795 Folsom Ave, Suite 600
                    <br>
                    San Francisco, CA 94107
                    <br> <abbr title="Phone">P:</abbr>
                    (123) 456-7890
                </address>
            </div>
        </div>
        <div class="box box-element ui-draggable">
            <a href="#close" class="remove label label-danger">
                <i class="glyphicon glyphicon-remove"></i>
                删除
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
								拖动
							</span>
							<span class="configuration">
								<a class="btn btn-xs btn-default" href="#" rel="pull-right">Pull right</a>
							</span>

            <div class="preview">引用块</div>
            <div class="view clearfix">
                <blockquote contenteditable="true">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.
                    </p>
                    <small>
                        Someone famous
                        <cite title="Source Title">Source Title</cite>
                    </small>
                </blockquote>
            </div>
        </div>
        <div class="box box-element ui-draggable">
            <a href="#close" class="remove label label-danger">
                <i class="glyphicon glyphicon-remove"></i>
                删除
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
								拖动
							</span>
							<span class="configuration">
								<a class="btn btn-xs btn-default" href="#" rel="list-unstyled">无样式</a>
								<a class="btn btn-xs btn-default" href="#" rel="list-inline">嵌入</a>
							</span>

            <div class="preview">无序列表</div>
            <div class="view">
                <ul contenteditable="true">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit</li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ul>
            </div>
        </div>
        <div class="box box-element ui-draggable">
            <a href="#close" class="remove label label-danger">
                <i class="glyphicon glyphicon-remove"></i>
                删除
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
								拖动
							</span>
							<span class="configuration">
								<a class="btn btn-xs btn-default" href="#" rel="list-unstyled">无样式</a>
								<a class="btn btn-xs btn-default" href="#" rel="list-inline">嵌入</a>
							</span>

            <div class="preview">有序列表</div>
            <div class="view">
                <ol contenteditable="true">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit</li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ol>
            </div>
        </div>
        <div class="box box-element ui-draggable">
            <a href="#close" class="remove label label-danger">
                <i class="glyphicon glyphicon-remove"></i>
                删除
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
								拖动
							</span>
							<span class="configuration">
								<a class="btn btn-xs btn-default" href="#" rel="dl-horizontal">竖向对齐</a>
							</span>

            <div class="preview">详细描述</div>
            <div class="view">
                <dl contenteditable="true">
                    <dt>Description lists</dt>
                    <dd>A description list is perfect for defining terms.</dd>
                    <dt>Euismod</dt>
                    <dd>
                        Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                    </dd>
                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                    <dt>Malesuada porta</dt>
                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                    <dt>Felis euismod semper eget lacinia</dt>
                    <dd>
                        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                        fermentum massa justo
                        sit amet risus.
                    </dd>
                </dl>
            </div>
        </div>
        <div class="box box-element ui-draggable">
            <a href="#close" class="remove label label-danger">
                <i class="glyphicon glyphicon-remove"></i>
                删除
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
								拖动
							</span>
							<span class="configuration">
								<span class="btn-group btn-group-xs">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                        样式
                                        <span class="caret"></span>
                                    </a>
									<ul class="dropdown-menu">
                                        <li class="active">
                                            <a href="#" rel="">默认</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="table-striped">条纹</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="table-bordered">边框</a>
                                        </li>
                                    </ul>
								</span>
								<a class="btn btn-xs btn-default" href="#" rel="table-hover">鼠标指示</a>
								<a class="btn btn-xs btn-default" href="#" rel="table-condensed">紧凑</a>
							</span>

            <div class="preview">表格</div>
            <div class="view">
                <table class="table" contenteditable="true">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>产品</th>
                        <th>交付时间</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>TB - Monthly</td>
                        <td>01/04/2012</td>
                        <td>Default</td>
                    </tr>
                    <tr class="success">
                        <td>1</td>
                        <td>TB - Monthly</td>
                        <td>01/04/2012</td>
                        <td>Approved</td>
                    </tr>
                    <tr class="error">
                        <td>2</td>
                        <td>TB - Monthly</td>
                        <td>02/04/2012</td>
                        <td>Declined</td>
                    </tr>
                    <tr class="warning">
                        <td>3</td>
                        <td>TB - Monthly</td>
                        <td>03/04/2012</td>
                        <td>Pending</td>
                    </tr>
                    <tr class="info">
                        <td>4</td>
                        <td>TB - Monthly</td>
                        <td>04/04/2012</td>
                        <td>Call in to confirm</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box box-element ui-draggable">
            <a href="#close" class="remove label label-danger">
                <i class="glyphicon glyphicon-remove"></i>
                删除
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
								拖动
							</span>
							<span class="configuration">
								<a class="btn btn-xs btn-default" href="#" rel="form-inline">嵌入</a>
							</span>

            <div class="preview">提交表单</div>
            <div class="view">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input class="form-control" id="exampleInputEmail1" placeholder="Enter email"
                               type="email"></div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input class="form-control" id="exampleInputPassword1" placeholder="Password"
                               type="password"></div>
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input id="exampleInputFile" type="file">

                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="box box-element ui-draggable">
            <a href="#close" class="remove label label-danger">
                <i class="glyphicon glyphicon-remove"></i>
                删除
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
								拖动
							</span>
            <span class="configuration"></span>

            <div class="preview">纵向表单</div>
            <div class="view">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input class="form-control" id="inputEmail3" placeholder="Email"
                                   type="email"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-10">
                            <input class="form-control" id="inputPassword3" placeholder="Password"
                                   type="password"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Remember me</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="box box-element ui-draggable">
            <a href="#close" class="remove label label-danger">
                <i class="glyphicon glyphicon-remove"></i>
                删除
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
								拖动
							</span>
							<span class="configuration">
								<span class="btn-group btn-group-xs">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                        样式
                                        <span class="caret"></span>
                                    </a>
									<ul class="dropdown-menu">
                                        <li class="active">
                                            <a href="#" rel="">默认</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="btn-primary">原生</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="btn-info">信息</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="btn-success">成功</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="btn-warning">提醒</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="btn-danger">危险</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="btn-inverse">反转</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="btn-link">链接</a>
                                        </li>
                                    </ul>
								</span>
								<span class="btn-group btn-group-xs">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                        尺寸
                                        <span class="caret"></span>
                                    </a>
									<ul class="dropdown-menu">
                                        <li class="">
                                            <a href="#" rel="btn-lg">大</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="btn-default">默认</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="btn-sm">小</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="btn-xs">微型</a>
                                        </li>
                                    </ul>
								</span>

								<a class="btn btn-xs btn-default" href="#" rel="btn-block">通栏</a>
								<a class="btn btn-xs btn-default" href="#" rel="active">活动</a>
								<a class="btn btn-xs btn-default" href="#" rel="disabled">禁用</a>
							</span>

            <div class="preview">按钮</div>
            <div class="view">
                <button type="button" class="btn btn-default" contenteditable="true">按钮</button>
            </div>
        </div>
        <div class="box box-element ui-draggable">
            <a href="#close" class="remove label label-danger">
                <i class="glyphicon glyphicon-remove"></i>
                删除
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
								拖动
							</span>
							<span class="configuration">
								<span class="btn-group btn-group-xs">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                        样式
                                        <span class="caret"></span>
                                    </a>
									<ul class="dropdown-menu">
                                        <li class="active">
                                            <a href="#" rel="">默认</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="img-rounded">圆角</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="img-circle">圆圈</a>
                                        </li>
                                        <li class="">
                                            <a href="#" rel="img-thumbnail">相框</a>
                                        </li>
                                    </ul>
								</span>
							</span>

            <div class="preview">图片</div>
            <div class="view">
                <img alt="140x140"
                     src="imgs/default_004.jpg">
            </div>
        </div>
    </li>
</ul>