<% /*栅栏系统*/ %>

<ul class="nav nav-list accordion-group">
    <li class="nav-header">
        <div class="pull-right popover-info">
            <i class="glyphicon glyphicon-question-sign"></i>

            <div class="popover fade right">
                <div class="arrow"></div>
                <h3 class="popover-title">帮助</h3>

                <div class="popover-content">
                    在这里设置你的栅格布局, 栅格总数默认为12, 用空格分割每列的栅格值, 如果您需要了解更多信息，请访问
                    <a href="http://v3.bootcss.com/css/#grid">栅格系统.</a>
                </div>
            </div>
        </div>
        <i class="glyphicon glyphicon-th-large"></i>
        布局设置
    </li>
    <li class="rows" id="estRows">
        <div class="grid-row ui-draggable">
            <a href="#close" class="afe-removeBtn label label-danger">
                <i class="glyphicon-remove glyphicon"></i>
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
							</span>

            <div class="afe-preview">
                <input value="12" class="form-control" type="text"></div>
            <div class="afe-view">
                <afespan data-module="Grid">
                    <div class="row clearfix">
                        <div class="col-md-12 afe-column"></div>
                    </div>
                </afespan>
            </div>
        </div>

        <div class="grid-row ui-draggable">
            <a href="#close" class="afe-removeBtn label label-danger">
                <i class="glyphicon-remove glyphicon"></i>
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
							</span>

            <div class="afe-preview">
                <input value="6 6" class="form-control" type="text"></div>
            <div class="afe-view">
                <afespan data-module="Grid">
                    <div class="row clearfix">
                        <div class="col-md-6 afe-column"></div>
                        <div class="col-md-6 afe-column"></div>
                    </div>
                </afespan>
            </div>
        </div>

        <div class="grid-row ui-draggable">
            <a href="#close" class="afe-removeBtn label label-danger">
                <i class="glyphicon-remove glyphicon"></i>
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
							</span>

            <div class="afe-preview">
                <input value="8 4" class="form-control" type="text"></div>
            <div class="afe-view">
                <afespan data-module="Grid">
                    <div class="row clearfix">
                        <div class="col-md-8 afe-column"></div>
                        <div class="col-md-4 afe-column"></div>
                    </div>
                </afespan>
            </div>
        </div>

        <div class="grid-row ui-draggable">
            <a href="#close" class="afe-removeBtn label label-danger">
                <i class="glyphicon-remove glyphicon"></i>
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
							</span>

            <div class="afe-preview">
                <input value="4 4 4" class="form-control" type="text"></div>
            <div class="afe-view">
                <afespan data-module="Grid">
                    <div class="row clearfix">
                        <div class="col-md-4 afe-column"></div>
                        <div class="col-md-4 afe-column"></div>
                        <div class="col-md-4 afe-column"></div>
                    </div>
                </afespan>
            </div>
        </div>

        <div class="grid-row ui-draggable">
            <a href="#close" class="afe-removeBtn label label-danger">
                <i class="glyphicon-remove glyphicon"></i>
            </a>
							<span class="draghandler label label-default">
								<i class="glyphicon glyphicon-move"></i>
							</span>

            <div class="afe-preview">
                <input value="2 6 4" class="form-control" type="text"></div>
            <div class="afe-view">
                <afespan data-module="Grid">
                    <div class="row clearfix">
                        <div class="col-md-2 afe-column"></div>
                        <div class="col-md-6 afe-column"></div>
                        <div class="col-md-4 afe-column"></div>
                    </div>
                </afespan>
            </div>
        </div>
    </li>
</ul>


