<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel"
     aria-hidden="true"></div>
<div style="display: none;" class="modal fade" id="feedbackModal" tabindex="-1" role="dialog"
     aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">帮助</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-info">
                    有任何问题，可邮件联系
                    <a href="mailto:jaynaruto@qq.com">906341132@qq.com</a>
                </div>

                <div class="paddingTB-md">
                    <p>TIPS:</p>
                    <p>1.文件目录右键,已经打开文件右键都有右键菜单实现文件操作</p>
                    <p>2."Ctrl+S"能实现文件保存</p>
                </div>

                <div class="paddingTB-md">
                    <p>说明:</p>
                    <p>该系统的仅拖拽思路来源于layoutit,为尊重思想启蒙者,附着上原链接:http://www.layoutit.com</p>
                </div>
            </div>
        </div>
    </div>
</div>