<% /*顶部工具条*/ %>

<div id="top-nav" class="navbar navbar-inverse navbar-fixed-top navbar-afe">
    <div class="navbar-header">
        <button data-target="navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="glyphicon-bar"></span>
            <span class="glyphicon-bar"></span>
            <span class="glyphicon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="imgs/favicon.png">
            KUI-AFE
            <span class="label label-default">BETA</span>
        </a>
    </div>

    <div class="collapse navbar-collapse rightToolBtns">

        <ul class="nav pull-right">
            <li>
                <div class="btn-group btn-donate pull-right"></div>

                <div class="btn-group" data-toggle="buttons-radio">
                    <button role="button" data-toggle="modal" data-target="#feedbackModal" id="feedback"
                            class="btn btn-xs btn-primary active"><i class="glyphicon-comment glyphicon"></i>
                       帮助
                    </button>
                </div>
            </li>
        </ul>
        <ul class="nav pull-right" id="menu-afe">
            <li>
                <div class="btn-group" data-toggle="buttons-radio">

                    <button type="button" class="btn btn-xs btn-primary active" id="button-develop-code">
                        <i class="glyphicon glyphicon-leaf"></i>
                        开发
                    </button>
                    <button type="button" id="editBtn" class="btn btn-xs btn-primary"><i
                                class="glyphicon glyphicon-edit "></i>
                        编辑
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-primary" id="button-download-modal"
                            data-target="#downloadModal"
                            role="button" data-toggle="modal"><i class="glyphicon glyphicon-download"></i>
                        导出单页
                    </button>

                    <button type="button" class="btn btn-xs btn-primary" id="button-export">
                        <i class="glyphicon glyphicon-share-alt"></i>
                        导出项目
                    </button>

                    <button class="btn btn-xs btn-primary" href="#clear" id="clear">
                        <i class="glyphicon-trash glyphicon"></i>
                        清空
                    </button>
                </div>
            </li>
        </ul>
    </div>

</div>